*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}


html,body{
	height: 100%;
}

.container{
	width: 100%;
	padding: 0 2%;
}

body{
	background-color: rgb(21, 32, 43);
}

header{
	text-align: center;
	width: 100%;
	height: 90px;
	padding: 25px 0;
}

header i{
	font-size: 35px;
	color: white;
}

header h2{
	color: white;
	font-weight: bold;
	padding-top: 30px;
	font-size: 23px;
}

header .inputs input[type="text"]{
	border-radius: 2px;
	margin: 0 auto;
	margin-top: 30px;
	padding-left: 10px;
	width: 500px;
	height: 60px;
	border: 0;
	font-size: 20px;
	background-color: rgb(25,39,52);
	border-bottom: 2px solid rgb(136,153,166);
	display: block;
	color: white;
}

header .inputs input[type="text"]:focus{
	background-color: rgb(25,39,52);
	border-bottom: 2px solid rgb(29,161,242);
}

header .inputs input[type="submit"]{
	width: 500px;
	height: 60px;
	margin-top: 30px;
	border-radius: 20px;
	border: 0;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: rgb(29,161,242);
	transition: 0.6s;
}

header .inputs input[type="submit"]:hover{
	transition: 0.6s;
	background-color: rgb(26,145,218);
}

header .text{
	width: 100%;
	display: inline-block;
	padding-top: 30px;
}

header .text a,header .text p{
	text-align: center;
	display: inline-block;
	color: rgb(24,149,213);
	padding-right: 5px;
	text-decoration: none;
}

header .text p{
	text-align: center;
	display: inline-block;
	color: rgb(136,138,123);
	padding-right: 5px;
	position: relative;
	top: -3px;
}

header .text a:hover{
	text-decoration: underline;
}